@component('message')

@if(phone)
<p><strong>Số điện thoại</strong>: {{ phone }}</p>
@endif
<p><strong>E-Mail</strong>: {{ email }}</p>

<!--{{ content }}-->
{{ content }}

@slot('subcopy')
Phan Trung Nguyên
@endslot

@endcomponent
