@component('message')
    <h1>
        {{ config('app.name') }}
    </h1>
    <hr>
    <h2>Yêu cầu lấy lại mật khẩu</h2>
    @each(line in introLines)
    <p>{{ line }}</p>
    @endeach

    @component('button', url=actionUrl)
        Reset Password
    @endcomponent

    @each(line in outroLines)
    <p>{{ line }}</p>
    @endeach

    @slot('subcopy')
        Thanks,<br> Phan Trung Nguyên
    @endslot

@endcomponent
